@use 'variables' as *;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: $box-shadow-card;
    margin-bottom: 10px;

    @include responsive(576px) {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .logo {
        font-size: 24px;
        font-weight: bold;
        color: $primary-color;
    }

    .nav-links {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            margin: 0 10px;
        }

        a {
            text-decoration: none;
            font-weight: bold;

            &:hover {
                color: $primary-color;
            }
        }

        @include responsive(576px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
}